
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import '~bootstrap/scss/bootstrap';

/* Importaciones */

/* Titulo Principal*/
@font-face {
  font-family: "Frijols";
  src: url("../fonts/FrijoleRegular.ttf") format("truetype");
}


/* Titulo Jobs*/
@font-face {
  font-family: "FjallaOne";
  src: url("../fonts/FjallaOne-Regular.ttf") format("truetype");
}


/* Titulo y cuerpo de las ofertas*/
@font-face {
  font-family: "Bellefair";
  src: url("../fonts/Bellefair-Regular.ttf") format("truetype");
}


/* fin de las importaciones*/

* {
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Bellefair', sans-serif;
  font-weight: 100;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 150px;
  &::-webkit-scrollbar {
    width: 0.8em;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  }
  &::-webkit-scrollbar-thumb {
    &:hover {
      background-color: dimgray;
    }
    background-color: gray;
    border-radius: 10px;
    transition: all 2s;
  }
}

footer {
  position: absolute;
  border-top: 1px solid rgba(163, 163, 163, 0.3);
  bottom: 0;
  margin-top: 2%;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 1% 0 1% 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  width: 90%;
}

.footer-1 {
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
}

.footer-logo {
  align-self: center;
  justify-content: center;
  align-items: center;
  /* for single line flex container */
  align-content: center;
}

.footer-2 {
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
}

.footer-link {
  align-self: center;
  text-align: center;
  li {
    list-style: none;
  }
}

.footer-3 {
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
}

.footer-socialmedia {
  align-self: center;
  text-align: center;
  display: flex;
}

.socialmedia-1, .socialmedia-2, .socialmedia-3 {
  flex: 1 1 auto;
  align-self: center;
}

.footer-derechos {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.footer-derechos-info {
  flex: auto;
  align-self:center;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar {
  align-self: center;
  width: 90%;
  max-height: 50px;
  padding: 5px;
  margin: 5px;
  top: 20px;
  display: flex;
  margin-bottom: 3%;
}

.navbar-item {
  &:nth-child(1) {
    flex: 0 1 auto;
    align-self: center;
  }
  &:nth-child(2) {
    flex: 1 1 auto;
    align-self: center;
  }
  &:nth-child(3), &:nth-child(4) {
    flex: 0 1 auto;
    align-self: center;
  }
}

input[type=search]#mainSearch {
  &::-webkit-input-placeholder {
    color: lightgray;
  }
  &:focus, &:hover {
    outline: 1px solid rgba(163, 163, 163, 0.3);
  }
  padding: 10px;
  width: 65%;
  font-size: 18px;
  font-weight: bold;
  color: black;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  letter-spacing: 1px;
  margin-top: 5%;
  align-content: flex-start;
}

.btn-blanco {
  border: 1px white solid;
  color: #636b6f;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.contenedor-principal {
  align-self: center;
  width: 75%;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.oferta {
  display: flex;
  color: dimgray;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 15px 15px;
  min-height: 105px;
}

.oferta-logo {
  align-self: auto;
  flex: 0 1 auto;
  height: 80px;
  margin: 10px 10px 0 0;
  order: 0;
  width: 8%;
}

.oferta-info {
  order: 0;
  color: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  flex: 1 1 auto;
  align-self: auto;
  padding: 5px 0 5px 0;
  max-width: 90%;
}

.oferta-empleador-info {
  align-self: auto;
  flex: 0 1 auto;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 5px 0 5px 0;
  order: 0;
}

.oferta-caracteriscas {
  align-self: auto;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  order: 0;
  min-width: 10%;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 10px;
  color: inherit;
}

.oferta-link {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.oferta-social {
  margin-top: 10px;
  > a {
    color: #2a88bd;
    font-size: inherit;
    &:hover {
      color: tomato;
    }
  }
}

.oferta-titulo {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: 'FjallaOne', sans-serif;
  line-height: 1.5;
}

.oferta-titulo-a {
  color: inherit;
  &:hover {
    color: tomato;
    text-decoration-line: none;
  }
}

.destacado {
  color: black;
  background-color: #fffbdc;
  border: 1px #b6a338 solid;
}

.errores {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  justify-content: center;
  color: #8b2e5e;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.mostrar-error {
  font-size: 20px;
}

h5 {
  font-size: 28px;
}

label {
  font-family: sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.textarea {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: 'FjallaOne', sans-serif;
  color: black;
  resize: none;
  border-radius: 10px;
  border: 1px solid rgb(141, 141, 141);
}

.textarea-edit {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: inherit;
  color: black;
  resize: none;
  border-radius: 10px;
  border: 1px solid rgb(141, 141, 141);
}

input {
  &[type=text], &[type=email], &[type=password] {
    font-family: 'FjallaOne', sans-serif;
    padding: 10px;
    height: 190%;
    font-size: 14px;
    font-weight: 400;
    color: black;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
    letter-spacing: 1px;
  }
}

select {
  font-family: 'FjallaOne', sans-serif;
  padding: 10px;
  height: 190%;
  font-size: 14px;
  font-weight: 400;
  color: black;
  border: 1px solid #8d8d8d;
  border-radius: 10px;
  letter-spacing: 1px;
}

input {
  &[type=file] {
    font-family: 'FjallaOne', sans-serif;
    padding: 10px;
    height: 190%;
    font-size: 14px;
    font-weight: 400;
    color: black;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
    letter-spacing: 1px;
  }
  &[type=text]:focus, &[type=email]:focus, &[type=password]:focus {
    border-style: inset;
    outline: 1px solid rgba(163, 163, 163, 0.3);
  }
}

select:focus, input[type=file]:focus, textarea:focus {
  border-style: inset;
  outline: 1px solid rgba(163, 163, 163, 0.3);
}

input {
  &[type=text]:hover, &[type=email]:hover, &[type=password]:hover {
    border-style: inset;
    outline: 1px solid rgba(163, 163, 163, 0.3);
  }
}

select:hover, input[type=file]:hover, textarea:hover {
  border-style: inset;
  outline: 1px solid rgba(163, 163, 163, 0.3);
}

input[type=checkbox]#resaltar {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  /*padding: 10px;*/
}

.margintop30 {
  margin-top: 30px;
}

.input-profile {
  margin-bottom: 10px;
  padding-top: 3px;
}

.panel {
  color: black;
  font-weight: 400;
}

.panel-heading {
  font-size: 18px;
}

.btn-new-job {
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
  background-color: #ff0f06;
  &:hover {
    color: white;
    background-color: #dc0000;
  }
}

table {
  font-size: 18px;
}

strong {
  letter-spacing: 2px;
}

.show-container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 30px;
  color: black;
}

.show-info-employer {
  order: 0;
  flex: 0.1 1 auto;
  align-self: auto;
  padding: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  width: 18%;
}

.show-info-employer-logo {
  align-self: center;
  margin-bottom: 8px;
  > img {
    width: 150px;
    height: 150px;
  }
}

.show-info-employer-name {
  font-family: 'FjallaOne', sans-serif;
  font-size: 26px;
  letter-spacing: 1.5px;
  line-height: 30px;
  margin-bottom: 8px;
}

.show-info-employer-slogan {
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 16px;
}

.show-info-employer-social {
  width: 100%;
  > a:hover {
    color: tomato;
  }
}

.show-info-employer-social-url {
  color: black;
  font-size: 16px;
  margin-bottom: 8px;
}

.show-info-employer-share {
  min-height: 40px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.show-info-employer-share-box {
  order: 0;
  flex: 0.1 1 auto;
  align-self: auto;
  display: flex;
}

.show-info-employer-share > strong {
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.show-info-employer-bio {
  text-align: justify-all;
  letter-spacing: 1px;
  line-height: 22px;
  font-size: 25px !important;
  color: #dc0000;
}

.show-info-job {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  padding: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  width: 82%;
}

.show-info-job-title {
  font-family: 'Bellefair', sans-serif;
  font-size: 46px;
}

.show-info-job-subtitle {
  font-family: 'Bellefair', sans-serif;
  font-size: 34px;
  font-weight: 400;
  padding-left: 15px;
  > i {
    font-size: 30px;
  }
}

.show-info-job-posted {
  margin-top: 5px;
  font-size: 16px;
  color: #122b40;
  display: flex;
}

.show-info-job-mainbody {
  text-align: justify;
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 30px;
}

.show-info-job-share-box {
  align-self: auto;
  font-size: 44px;
}

.help-block-red {
  color: red;
  font-size: 18px;
}

.btn#delete {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.yellow {
  color: yellow;
}

.disabled {
  color: red;
}

.link-disable {
  cursor: not-allowed;
}

.view-profile {
  color: black;
  font-family: 'Bellefair', sans-serif;
  font-size: 20px;
}

.view-profile-name {
  color: black;
  font-size: 36px;
  font-family: 'FjallaOne', sans-serif;
}

.view-profile-ofertas {
  color: dimgray;
}

.super-top-box {
  align-self: center;
  text-align: center;
}

.logoInitial {
  width : 61%;
  height : 75%;
  padding-top: 6px;
}